{% extends "tf2folio/layout.html" %}
{% load static %}

<title>{% block title %}Inventory{% endblock %}</title>
{% block body %}

<div class="inventory-display-container">
    <h2 class="title">Items In Inventory</h2>

    <div class="item-boxes-container">
    {% for item in items %}
        {% include 'tf2folio/item-template.html' with item=item %}
    {% empty %}
        <p class="title">No items in inventory</p>
    {% endfor %}
    </div>

{% if sold_items %}
    <h2 class="title">Items Sold</h2>

    <div class="item-boxes-container">
    {% for item in sold_items %}
        {% include 'tf2folio/item-template.html' with item=item %}
    {% empty %}
        <p class="title">No items sold</p>
    {% endfor%}
    </div>
{% endif %}
</div>
    
{% endblock %}