{% extends "tf2folio/layout.html" %}
<title>{% block title %}Inventory{% endblock %}</title>
{% block body %}

<div class="inventory-display-container">
    <h2 class="title">Items In Inventory</h2>

    <div class="item-boxes-container">
    {% for item in items %}
        <a href="{% url 'item_trade_history' item.id %}"> 
            <div class="item-box border-{{item.quality}}
                {% if item.sale_price %}
                    sold-color 
                {% endif %}
                " data-item-id="{{item.id}}">
                <div class='item-box-image'>
                    {% if item.particle_id %}
                        <img class="particle-image" src="static/tf2folio/particles/{{item.particle_id}}_188x188.png">
                    {% endif %}
                    {% if item.image_url %}
                        <img class="item-image" src="{{item.image_url}}">
                    {% else %}
                        <img class="item-image" src="static/tf2folio/images/questionmark.webp">
                    {% endif %}
                </div>
                <span class="{{item.quality}}">{{item.item_title}}</span>
            </div>
        </a>
    {% endfor%}
    </div>

    <h2 class="title">Items Sold</h2>

    <div class="item-boxes-container">
    {% for item in sold_items %}
        <a href="{% url 'item_trade_history' item.id %}"> 
            <div class="item-box border-{{item.quality}}
                {% if item.sale_price %}
                    sold-color 
                {% endif %}
                " data-item-id="{{item.id}}">
                <div class='item-box-image'>
                    {% if item.particle_id %}
                        <img class="particle-image" src="static/tf2folio/particles/{{item.particle_id}}_188x188.png">
                    {% endif %}
                    <img class="item-image" src="{{item.image_url}}">
                </div>
                <span class="{{item.quality}}">{{item.item_title}}</span>
            </div>
        </a>
    {% endfor%}
    </div>

</div>
    
{% endblock %}