{% load static %}

{% with link_enabled|default:"True" as link %}
    {% if link == "True" %}
        <a href="{% url 'item_trade_history' item.id %}">
    {% endif %}
    <div class="item-box border-{{item.quality}} pointer" data-item-id="{{item.id}}">
        <div class='item-box-image'>
            {% if item.particle_id %}
                <img class="particle-image" src="{% static 'tf2folio/particles/'|add:item.particle_id|add:'_188x188.png' %}">
            {% endif %}
            {% if item.image_url %}
                <img class="item-image" src="{{item.image_url}}">
            {% else %}
                <img class="item-image" src="{% static 'tf2folio/images/questionmark.webp' %}">
            {% endif %}
        </div>
        <span class="{{item.quality}}">{{item.item_title}}</span>
    </div>

    {% if link == "True" %}
        </a>
    {% endif %}
{% endwith %}