{% load static %}

<form id="item-register-form" class="styled-form" method="POST">
    <h2 class="title">Register Item</h2>
    {% csrf_token %}
    
    {{item_form.item_name}}

    <h6 class="title">Quality</h6>
    <div class="radio-select-div">
        {% for quality in item_form.fields.quality.choices %}
            <div class="radio-option-quality">
                <input type="radio" name="quality" id="quality-{{ quality.0 }}" value="{{ quality.0 }}">
                <label class=" bg-{{quality.0}}" for="quality-{{ quality.0 }}">{{ quality.1 }}</label>
            </div>
        {% endfor %}
    </div>

    <h6 class="title">Filters</h6>
    <div class="checkbox-div">
        {{item_form.craftable}}
        <label for="{{ item_form.craftable.id_for_label }}">Craftable</label>
        {{item_form.australium}}
        <label for="{{ item_form.australium.id_for_label }}">Australium</label>
    </div>

    {{item_form.texture_name}}
    <datalist id="texture-names">
        {% for texture in texture_names %}
        <option value="{{ texture }}">
        {% endfor %}
    </datalist>

    <h6 class="title">Wear</h6>
    <div class="radio-select-div">
        {% for wear in item_form.fields.wear.choices %}
            <div class="radio-option">
                <input type="radio" name="{{ item_form.wear.html_name }}" id="wear-{{ wear.0 }}" value="{{ wear.0 }}">
                <label for="wear-{{ wear.0 }}">{{ wear.1 }}</label>
            </div>
        {% endfor %}
    </div>

    {{item_form.particle_effect}}
    <datalist id="particle-effects">
        {% for effect in particle_effects %}
        <option value="{{ effect }}">
        {% endfor %}
    </datalist>

    <h6 class="title">Killstreak</h6>
    <div class="radio-select-div">
        {% for killstreak in item_form.fields.killstreak.choices %}
            <div class="radio-option">
                <input type="radio" name="{{ item_form.killstreak.html_name }}" id="killstreak-{{ killstreak.0 }}" value="{{ killstreak.0 }}">
                <label for="killstreak-{{ killstreak.0 }}">{{ killstreak.1 }}</label>
            </div>
        {% endfor %}
    </div>

    <h6 class="title">Item Preview</h6>
    <div class="item-box-div">
        <div class="item-box" id="item-preview-box">
            <div class='item-box-image'>
                <img class="particle-image" style="display: none;" src="">
                <img id="item-image" class="item-image" style="display: none;" src="">
            </div>
            <span id="title-box"></span>
        </div>
    </div>
    
    
    <div id="item-error-display" class="alert bg-danger" role="alert" style="display: none;"></div>

    <input type="text" class="item-input-field" id="image-link" name="image_link" placeholder="Enter your own image URL">
    <button type="button" id="generate-img-btn" class="btn btn-info my-2">Generate Preview</button>

    <button type="submit" class="btn btn-primary">Register Item</button>
</form>

{% block script %}
    <script>
        var defaultImage = "{% static 'tf2folio/images/questionmark.webp' %}"; // Default image path
    </script>
    <script src="{% static 'tf2folio/new-item.js' %}"></script>
{% endblock %}