{% extends "tf2folio/layout.html" %}
{% load static %}

{% block body %}
    <div class="trade-display-container">
        <h2 class="title">Register trade</h2>
        <div class="trade">
            <div class="transaction-titles">
                <h5>Sold</h5>
                <h5>Recieved</h5>
            </div>
            <div class="trade-items-container">
                <div id="selected-items" class="items-sold">
                </div>
                <span class="trade-icon">⇄</span>
                <div id="recieved-items" class="items-recieved">

                    <div id="transaction-method-box" class="item-box border-unique">
                        <div class='item-box-image'>
                            <img class="item-image" src="https://steamcdn-a.akamaihd.net/apps/440/icons/key.be0a5e2cda3a039132c35b67319829d785e50352.png">
                        </div>
                        <span class="pure-amount">0</span>
                        <span class="transaction-method unique">Keys</span>
                    </div>
                    
                </div>
            </div>
            <hr>
            <div class="item-selection">
                <div class="items-sold-selection">
                    <div>
                        <h6 class="title" id="sold-selection-title">Add sold item</h6>
                        
                        {{sale_form.items_sold}}
                        <button type="button" class="btn btn-sm btn-outline-info add-item">Add Item</button>
                    </div>
                </div>
                <div class="items-recieved-selection">
                    <div>
                        <h6 class="title">Add recieved item</h6>
                        {{sale_form.items_bought}}
                        <button type="button" class="btn btn-sm btn-outline-info add-item" id="add-recieved-item" >Add Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="trade-register-error" class="alert bg-danger" role="alert" style="display: none;">
        {% for error in form.errors %}
            {{ error }}
        {% endfor %}
    </div>

    <div id="trade-register" class="trade-register-div">
        <h5 class="title">Transaction Type</h5>
        <button class="btn btn-primary" id="sale">Sale</button>
        <button class="btn btn-outline-primary" id="buy">Purchase</button>

        <form class="trade-form" id="sale-form">
            {% csrf_token %}
            <div class="form-rows">

                <label class="title" for="{{ value_form.transaction_method.id_for_label }}">Transaction Method:</label>
                <div class="radio-select-div">
                    {% for method in value_form.fields.transaction_method.choices %}
                        <div class="radio-option">
                            <input type="radio" name="transaction_method" id="method-{{ method.0 }}" value="{{ method.0 }}" {% if forloop.first %}checked{% endif %}>
                            <label for="method-{{ method.0 }}">{{ method.1 }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="trade-input-field">
                    <label for="{{ value_form.amount.id_for_label }}" class="amount-label title" >Amount:</label>
                    {{value_form.amount}}
                </div>
                

                <div class="trade-input-field">
                    <label for="{{ value_form.currency.id_for_label }}" class="currency-label title">Currency:</label>
                    <input type="text" name="currency" class="currency-field" list="currencies" />
                        <datalist id="currencies">
                            {% for currency in value_form.fields.currency.choices %}
                                <option value="{{ currency.0 }}">{{ currency.1 }}</option>
                            {% endfor %}
                        </datalist>
                </div>
                
                {{sale_form.description}}
                <button type="submit" form="sale-form" id="trade-submit-button" class="btn btn-primary">Register Sale</button>
            </div>
        </form>


        <form class="trade-form" id="buy-form">
            {% csrf_token %}
            <div class="form-rows">

                <label class="title" for="{{ value_form.transaction_method.id_for_label }}">Transaction Method:</label>
                <div class="radio-select-div">
                    {% for method in value_form.fields.transaction_method.choices|slice:":-1" %} <!-- Remove the last choice, which is "items" -->
                        <div class="radio-option">
                            <input type="radio" name="transaction_method-2" id="method-{{ method.0 }}" value="{{ method.0 }}" {% if forloop.first %}checked{% endif %}>
                            <label for="method-{{ method.0 }}">{{ method.1 }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="trade-input-field">
                    <label for="{{ value_form.amount.id_for_label }}" class="amount-label title" >Amount:</label>
                    {{value_form.amount}}
                </div>

                

                <div class="trade-input-field">
                    <label for="{{ value_form.currency.id_for_label }}" class="currency-label title">Currency:</label>
                    <input type="text" name="currency" class="currency-field" list="currencies" />
                        <datalist id="currencies">
                            {% for currency in value_form.fields.currency.choices %}
                                <option value="{{ currency.0 }}">{{ currency.1 }}</option>
                            {% endfor %}
                        </datalist>
                </div>

                {{buy_form.description}}
                <button type="submit" form="buy-form" id="trade-submit-button" class="btn btn-primary">Register Purchase</button>
            </div>
            
        </form>

    </div>

    <!-- User's default currencies -->
    <input type="hidden" id="default-scm-currency" value="{{ user.default_scm_currency }}">
    <input type="hidden" id="default-paypal-currency" value="{{ user.default_paypal_currency }}">

    <div id="item-register">
        {% include 'tf2folio/new-item.html' %}
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'tf2folio/new-trade.js' %}"></script>
{% endblock %}
