{% extends "tf2folio/layout.html" %}
{% load static %}

{% block body %}
    <div class="trade-display-container">
        <h2 class="title">Register trade</h2>
        <div class="trade">
        
            <div class="transaction-titles">
                <h5>Sold</h5>
                <h5>Received</h5>
            </div>

            <div class="trade-items-container">
                <div id="selected-items" class="items-sold">
                </div>
                <span class="trade-icon">⇄</span>
                <div id="received-items" class="items-received">

                    <div id="transaction-method-box" class="item-box border-unique">
                        <div class='item-box-image'>
                            <img class="item-image" src="https://steamcdn-a.akamaihd.net/apps/440/icons/key.be0a5e2cda3a039132c35b67319829d785e50352.png">
                        </div>
                        <span class="pure-amount">0</span>
                        <span class="transaction-method unique">Keys</span>
                    </div>
                    
                </div>
            </div>
            <hr>
            <div class="item-selection">
                <div class="items-sold-selection">
                    <h6 class="title" id="sold-selection-title">Add sold item</h6>
                    {{sale_form.items_sold}}
                    <button type="button" class="btn btn-sm btn-outline-info add-item">Add Item</button>
                </div>
                <div class="items-received-selection">
                    <h6 class="title">Add received item</h6>
                    {{sale_form.items_bought}}
                    <button type="button" class="btn btn-sm btn-outline-info add-item" id="add-received-item" >Add Item</button>
                </div>
            </div>
        </div>

        <div id="trade-register-error" class="alert bg-danger" role="alert" style="display: none;">
            {% for error in form.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>


    <div id="trade-register" class="trade-register-div">
        <h5 class="title">Transaction Type</h5>
        <button class="btn btn-primary" id="sale">Sale</button>
        <button class="btn btn-outline-primary" id="buy">Purchase</button>

        <form class="trade-form" id="sale-form">
            {% include 'tf2folio/trade-form.html' with form_type='sale_form' form=sale_form %}
        </form>

        <form class="trade-form" id="buy-form">
            {% include 'tf2folio/trade-form.html' with form_type='buy_form' form=buy_form %}
        </form>
    </div>

    <!-- User's default currencies -->
    <input type="hidden" id="default-scm-currency" value="{{ user.market_settings.default_scm_currency }}">
    <input type="hidden" id="default-paypal-currency" value="{{ user.market_settings.default_paypal_currency }}">

    <div id="item-register">
        {% include 'tf2folio/new-item.html' %}
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'tf2folio/new-trade.js' %}"></script>
{% endblock %}
