{% extends "tf2folio/layout.html" %}
{% load static %}

<title>{% block title %}Trade History{% endblock %}</title>
{% block body %}

{% load trade_history_filters %}

<input type="checkbox" id="show-source-trades-checkbox" onclick="toggleSourceTradeDisplay()"> Show only source trades

<div class="trade-display-container">
{% for trade in all_trades %}
    <div class="trade" data-source-trade="{{trade.source_trade}}">
        <div class ="transaction-titles">
            {% if trade.transaction_type == 'sale' %}
                <h4>Sold:</h4>
                <h4>Recieved:</h4>
            {% else %}
                <h4>Bought:</h4>
                <h4>Paid:</h4>
            {% endif %}
        </div>
        <div class="trade-items-container">
        {% if trade.transaction_type == 'sale' %}
            <div class="items-sold">
            {% for item in trade.items_sold.all %}
                <div class="item-box border-{{item.quality}}
                {% if item.sale_price %}
                    sold-color 
                {% endif %}
                " data-item-id="{{item.id}}">
                    <div class='item-box-image'>
                        {% if item.particle_id %}
                            <img class="particle-image" src="static/tf2folio/particles/{{item.particle_id}}_188x188.png">
                        {% endif %}
                        <img class="item-image" src="{{item.image_url}}">
                    </div>
                    <span class="{{item.quality}}">{{item.item_title}}</span>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="items-sold">
            {% for item in trade.items_bought.all %}
                <div class="item-box border-{{item.quality}}" data-item-id="{{item.id}}">
                    <div class='item-box-image'>
                        {% if item.particle_id %}
                            <img class="particle-image" src="static/tf2folio/particles/{{item.particle_id}}_188x188.png">
                        {% endif %}
                        <img class="item-image" src="{{item.image_url}}">
                    </div>
                    <span class="{{item.quality}}">{{item.item_title}}</span>
                </div>
            {% endfor %}
            </div>
        {% endif %}
            <span class="trade-icon">⇄</span>


        {% if trade.transaction_type == 'sale' %}
            <div class="items-recieved">
            {% for item in trade.items_bought.all %}
                <div class="item-box border-{{item.quality}}" data-item-id="{{item.id}}">
                    <div class='item-box-image'>
                        {% if item.particle_id %}
                            <img class="particle-image" src="static/tf2folio/particles/{{item.particle_id}}_188x188.png">
                        {% endif %}
                        <img class="item-image" src="{{item.image_url}}">
                    </div>
                    <span class="{{item.quality}}">{{item.item_title}}</span>
                </div>
            {% endfor %}

            {% with info=trade.transaction_method|get_transaction_info %}
                <div class="item-box border-{{ info.quality }}">
                    <div class='item-box-image'>
                        <img class="item-image" src="{{ info.image }}">
                    </div>
                    <span class="pure-amount">
                        {{ trade.amount|floatformat }} 
                        {% if trade.transaction_method != 'keys' %}
                            {{ trade.currency }}
                        {% endif %}
                    </span>
                    <span class="{{ info.quality }}">{{ info.label }}</span>
                </div>
            {% endwith %}
            </div>
            
        {% else %}
            <div class="items-recieved">

            {% with info=trade.transaction_method|get_transaction_info %}
                <div class="item-box border-{{ info.quality }}">
                    <div class='item-box-image'>
                        <img class="item-image" src="{{ info.image }}">
                    </div>
                    <span class="pure-amount">
                        {{ trade.amount|floatformat }} 
                        {% if trade.transaction_method != 'keys' %}
                            {{ trade.currency }}
                        {% endif %}
                    </span>
                    <span class="{{ info.quality }}">{{ info.label }}</span>
                </div>
            {% endwith %}

            </div>
        {% endif %}
        </div>

        {% if trade.source_trade %}
            {% if trade.transaction_type == 'sale' %}
            <div class ="transaction-titles">
                    <h4>Purchase price:</h4>
                    <h4>Total pure recieved:</h4>
            </div>
            <hr>
            <div class ="transaction-titles">
                {% for item in trade.items_sold.all %}
                    {% if item.purchase_price %}
                        <h4>
                            {{ item.purchase_price|value_display }}
                        </h4>
                    {% endif %}
                {% endfor %}
                {% if trade.items_bought.all.exists %}
                    {% for item in trade.items_sold.all %}
                        {% if item.sale_price %}
                            <h4>
                                {{ item.sale_price|value_display }}
                            </h4>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <hr>
            <div class="transaction-profit">
            {% for item in trade.items_sold.all %}
                {% if item.profit_value %}
                    <h4>
                        Profit: {{ item.profit_value|value_display }}
                    </h4>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %} 
    {% endif %}
        <!--  
        {{trade.description}}
        {{trade.date}} -->
    </div> 
{% endfor%}
</div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'tf2folio/trade-history.js' %}"></script>
{% endblock %}