{% load trade_history_filters %}

{% if trade.transaction_method != None %}
    {% with transaction=trade.transaction_method|get_transaction_info %}
        <div class="item-box border-{{ transaction.quality }}">
            <div class='item-box-image'>
                <img class="item-image" src="{{ transaction.image }}">
            </div>
            <span class="pure-amount">
                {{ trade.amount|floatformat:-2 }} 
                {% if trade.transaction_method != 'keys' %}
                    {{ trade.currency }}
                {% endif %}
            </span>
            <span class="{{ transaction.quality }}">{{ transaction.label }}</span>
        </div>
    {% endwith %}
{% endif %}