.strange { color: #CF6A32; }
.unusual { color: #8650AC; }
.unique { color: #FFD700; }
.genuine { color: #4D7455; }
.vintage { color: #476291; }
.collector { color: #AA0000; }
.haunted { color: #38F3AB; }
.normal { color: #B2B2B2; }

.item-form {
    display: grid;
    justify-content: center;
}

/* index / item box */
.item-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 25px 0;
  }

.item-box {
    background-color: #2f3c42;
    color: #eee;
    display: flex;
    flex-direction: column;
    margin: 3px 2px;
    border-radius: 4px;
    text-align: center;
    width: 182px;
    height: 310px;
    overflow: hidden;
}
.item-box-image {
    position: relative;
    
}

.item-box-image img {
    max-width: 140px;
    max-height: 140px;
    
}

.item-image {
    position: relative;
  }

.particle-image {
    position: absolute;
}

.item-box span {
    font-family: 'TF2 Build', sans-serif;
}