// Item qualities and their colors
$colors: (
  strange: #cf6a32,
  unusual: #8650ac,
  unique: #ffd700,
  genuine: #4d7455,
  vintage: #476291,
  decorated: #fafafa,
  collectors: #aa0000,
  haunted: #38f3ab,
  normal: #b2b2b2,
  cash: #7b9a6d
);

$dark-background: #1b2838;
$highlight-background: #131c27;

$tf2-font: (
  family: "TF2 Build",
  size: 16px,
  color: white
);

/* Create color classes for each quality in the $colors map */
@each $key, $color in $colors {
  .#{$key} {
    color: $color !important;
  }
}

@each $key, $color in $colors {
  .border-#{$key} {
    border-color: $color !important;
  }
}

@each $key, $color in $colors {
  .bg-#{$key} {
    background-color: $color !important;
  }
}

// styles for labels
@mixin label-styles {
  border-radius: 7px;
  border: 1px solid #666;
  color: white;
  background-color: black;
  display: inline-block;
  font-size: 13px;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  
}

a {
  text-decoration: none !important;
}

.center-div {
  text-align: center;
}

.title {
  font-family: map-get($tf2-font, family);
  color: map-get($tf2-font, color);
  text-align: center;
  margin-bottom: 2px;
}

.display-box {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  border: solid 2px;
  background-color: $highlight-background;
  width: max-content;
}

.no-display {
  display: none;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 50em) {
  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.9em;
  }

  h6 {
    font-size: 0.75em;
  }
}

// set all background colors to dark
body {
  background-color: $dark-background;
}

/* forms */

.styled-form {
  background-color: $highlight-background;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -100px 100px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 62px 50px;
  border-radius: 17px;
  max-width: 700px;
  min-width: 300px;
  padding: 20px;
  margin: 50px auto 0;
}

.styled-form,
.trade-form {
  display: grid;
  justify-content: center;
  width: 100%;
}

/* Item register form */
.checkbox-div {
  display: flex;
  justify-content: center;
  width: 100%;

  label[for="id_craftable"],
  label[for="id_australium"] {
    @include label-styles;
  }

  .checkbox-input:checked + label[for="id_craftable"],
  .checkbox-input:checked + label[for="id_australium"] {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 4px 2px rgba(200, 200, 200, 0.5);
  }
}

@media (max-width: 50em) {
  .checkbox-div {
    label {
      font-size: 12px;
      padding: 3px;
      margin: 2px;
    }
  }
}

.item-input-field {
  padding: 5px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid #1b2838;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: black;
}

@media (max-width: 50em) {
  .item-input-field {
    font-size: 14px;
    padding: 3px;
    border: 1px solid #1b2838;
  }
}

.radio-select-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3px;

  label {
    @include label-styles;
  }

  input[type="radio"] {
    display: none;
  }

  .radio-option {
    display: inline-block;

    input[type="radio"]:checked ~ label {
      background-color: white;
      color: black;
      box-shadow: 1px 1px 4px 2px rgba(200, 200, 200, 0.5);
    }
  }
  /* for quality radio-options, displays quality colors */
  .radio-option-quality {
    display: inline-block;

    input[type="radio"]:checked + label {
      opacity: 1;
      box-shadow: 1px 1px 4px 2px rgba(200, 200, 200, 0.8);
      color: black;
      border-radius: 5px;
      border: 1px solid rgb(200, 200, 200);
    }

    input[type="radio"] + label {
      opacity: 0.8;
      color: black;
    }
  }
}

@media (max-width: 50em) {
  .radio-select-div {
    label {
      font-size: 12px;
      padding: 4px;
      margin: 2px;
    }
  }
}

/* item preview box */
.item-box-div {
  display: flex;
  justify-content: center;
}


/* Trade register form */

// trade preview and item selection
.items-sold-selection,
.items-received-selection {
  margin-top: 4px;
  display: block;
  width: 45%;
  justify-content: center;

  * {
    width: 100%;
  }

  select {
    width: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 16px;
    color: white;
    background-color: black;
    max-height: 200px;
  }
}

.item-selection {
  display: flex;
  justify-content: space-between;
}

// Alert message class edit
.alert {
  text-align: center;
  color: black;
  max-width: 1400px;
  margin: 0 auto 10px auto;
  padding: 5px;
}

// trade register form
.trade-register-div {
  text-align: center;
  max-width: 420px;
  width: 100%;
  margin: auto;
  background-color: $highlight-background;
  padding: 7px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.trade-input-field {
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 220px;
  margin: auto;

  label,
  input {
    padding: 2px;
    margin: 2px;
  }
  label {
    text-align: left;
    width: 40%;
  }

  input {
    width: 60%;
    margin-left: auto;
    box-sizing: border-box;
    border: 2px solid #1b2838;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: black;
  }
}

.textarea-notes {
  padding: 8px;
  border: 2px solid #1b2838;
  border-radius: 8px;
  color: white;
  background-color: black;
  height: 100px;
  margin-bottom: 5px;
}

/* Remove arrows from number input field */
input[type="number"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Market Settings Form */

#settings-form .trade-input-field {
  width: 100%;
  margin: 5px auto;

  label {
    width: 70%;
  }
  input {
    width: 30%;
  }
}

#current-scm-key-price {
  text-align: left;
  font-size: 13px;
  margin: -10px 0 0 4px;
  color: rgb(200, 200, 200);
}

/* inventory */

.inventory-display-container {
  background-color: $dark-background;
  padding: 20px;
  display: grid;
  justify-content: center;
  text-align: center;

  .item-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: $highlight-background;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    max-width: 1420px;
  }
}

/* item container */

.item-box {
  background-color: #3c352e;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 3px;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
  width: 120px;
  height: 130px;
  overflow: hidden;
  position: relative;

  @media (max-width: 50em) {
    width: 100px;
    height: 110px;
  }

  .item-box-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .item-image {
      position: relative;
    }
    .particle-image {
      position: absolute;
    }
  }

  // item name
  span {
    font-family: map-get($tf2-font, family);
    font-size: 10px;
    position: relative;
    z-index: 1; // Make the text appear above the image
    margin: 0 2px 1px 2px;

    @media (max-width: 50em) {
      font-size: 9px;
    }
  }
  // For transaction display
  .pure-amount {
    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 5px #000;

    @media (max-width: 50em) {
      font-size: 11px;
    }
  }
}

/* trade display */

.trade {
  background-color: $highlight-background;
  display: block;
  border-radius: 5px;
  border: 1px solid;
  margin: 7px auto;
  padding: 7px;
  width: 100%;
  max-width: 1420px;
  text-align: center;
  position: relative;

  .trade-date {
    font-family: map-get($tf2-font, family);
    color: grey;
    font-size: 11px;
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;

    @media (max-width: 50em) {
      font-size: 8px;
      margin: 1px 5px;
    }
  }

  .transaction-titles {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;

    h6,
    h5 {
      font-family: map-get($tf2-font, family);
      color: map-get($tf2-font, color);
      display: flex;
      width: 45%;
      justify-content: center;
    }
  }

  // container for displaying items sold and received
  .trade-items-container {
    display: flex;
    justify-content: space-between;
    padding: 10px, 0, 10px;
    width: 100%;
    color: grey;

    .trade-icon {
      left: 50%;
      top: 50%;
      font-size: 80px;

      @media (max-width: 50em) {
        font-size: 50px;
        padding-top: 17px;
      }
    }
    .items-sold,
    .items-received {
      display: flex;
      flex-wrap: wrap;
      width: 45%;
      justify-content: center;
      min-height: 136px;

      @media (max-width: 50em) {
        min-height: 105px;
      }
    }
  }

  hr {
    border-color: white;
    margin: 0 10px 2px 10px;
  }

  // Container for transaction profit and trade notes toggle
  .trade-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 4px 10px;

    .transaction-profit {
      grid-column: 2;
      padding: 7px 9px 0 9px;
      font-family: map-get($tf2-font, family);
      color: map-get($tf2-font, color);
      background-color: green;
      border-radius: 5px;
    }
  }

  // trade notes toggle
  .notes-toggle-div {
    grid-column: 3;
    text-align: right;

    .notes-toggle:checked + .toggle-button {
      background-color: white;
      color: black;
      box-shadow: 1px 1px 4px 2px rgba(200, 200, 200, 0.5);
    }

    .toggle-button {
      background-color: #ccc;
      border: 2px solid lightgrey;
      border-radius: 10px;
      padding: 9px;
      margin-bottom: 0;
      display: inline-flex;
      cursor: pointer;

      @media (max-width: 50em) {
        padding: 6px;
        border-radius: 8px;
      }

      &:hover {
        background-color: white;
        border-color: white;
        box-shadow: 1px 1px 4px 2px rgba(200, 200, 200, 0.8);
      }
    }
  }

  // Trade notes have a opening and closing animation
  .trade-notes {
    font-size: 14px;
    margin: 2px 10px;
    background-color: black;
    border-radius: 8px;
    border: 0.1px solid white;
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows 0.5s,
      padding 0.5s,
      border 0.5s;
    clear: both;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }

    span {
      overflow: hidden;
    }
  }

  .trade-notes.expanded {
    grid-template-rows: 1fr;
    padding: 8px;
    border: 2px solid #1b2838;
  }
}

/* trade history page */

// Container for all trades
.trade-display-container {
  background-color: #1b2838;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  .trade-history-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1420px;
    margin: auto;
    width: 100%;

    h2 {
      grid-column: 2;
    }
  }
}

@media (max-width: 36em) {
  .trade-history-header {
    display: block !important;

    h2 {
      position: static !important;
    }
    div {
      justify-content: center;
    }
  }
}

.source-trades-checkbox-container {
  grid-column: 3;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .checkbox-label {
    font-family: map-get($tf2-font, family);
    color: map-get($tf2-font, color);
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
  }

  #show-source-trades-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 4px;
  }
}

@media (max-width: 50em) {
  .source-trades-checkbox-container {
    .checkbox-label {
      font-size: 12px;
    }
    #show-source-trades-checkbox {
      width: 15px;
      height: 15px;
    }
  }
}

/* Paginator */

nav[aria-label="Page navigation all trades"] {
  .page-link,
  .page-item {
    background-color: darken($highlight-background, 0%);
    color: #fff;
    border-color: #666;
  }
  .page-link:hover {
    background-color: darken($highlight-background, 10%);
  }
  .disabled .page-link {
    background-color: lighten($highlight-background, 4%) !important;
    color: grey;
    border-color: #666;
  }
}
