$colors: (
  strange: #CF6A32,
  unusual: #8650AC,
  unique: #FFD700,
  genuine: #4D7455,
  vintage: #476291,
  decorated: #FAFAFA,
  collectors: #AA0000,
  haunted: #38F3AB,
  normal: #B2B2B2,
  cash: #7b9a6d,
);

$dark-background: #1b2838;
$highlight-background: #131c27;

@each $key, $color in $colors {
  .#{$key} {
    color: $color !important;
  }
}

@each $key, $color in $colors {
  .border-#{$key} {
    border-color: $color !important;
  }
}

@each $key, $color in $colors {
  .bg-#{$key} {
    background-color: $color !important;
  }
}


$tf2-font: (
  family: 'TF2 Build',
  size: 16px,
  color: white,
);

// example of using a mixin
%class {
  margin: 20px
}
.class-extend {
  @extend %class;
  color: red;
}

a {
  text-decoration: none !important;
}

.center-div {
  text-align: center;
}

.title {
  font-family: map-get($tf2-font, family);
  color: map-get($tf2-font, color);
  text-align: center;
  //text-decoration: underline;
}

html {background-color: $dark-background} // set all background color

body {
  background-color: $dark-background;
}
/* forms */
/* new item form */

@mixin label-styles {
  border-radius: 7px;
  border: 1px solid #666;
  color: #000;
  background-color: white;
  display: inline-block;
  font-size: 13px;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  user-select: none;

  font-weight: bold;
  color: white;
  background-color: black;
}

#item-register {
  padding:5px;
}

.item-form {
  background-color: $highlight-background;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -100px 100px 0px inset, 
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, 
          rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 62px 50px;
  border-radius: 17px;
  max-width: 700px;
  min-width: 300px;
  padding: 30px;
  margin: 50px auto;
}

.item-form,
.trade-form,
.form-rows {
  display: grid;
  justify-content: center;
  width: 100%;
}

.title-form {
  @extend .title;
}

/* Item register form */
.checkbox-div {
  display: flex;
  justify-content: center;
  width:100%;
  
  label[for="id_craftable"], label[for="id_australium"] {
    @include label-styles;
  }

  .checkbox-input {
    display:none;  
  } 

  .checkbox-input:checked + label[for="id_craftable"], 
  .checkbox-input:checked + label[for="id_australium"] {
      background-color: white;
      color: black;
      box-shadow:1px 1px 4px 2px rgba(200,200,200, 0.5);
  }
}

.item-input-field {
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #1b2838;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: black;
}

@media (max-width: 600px) {
  .item-input-field {
    font-size: 14px;
    padding: 3px;
    margin: 4px 0;
    border: 1px solid #1b2838;
  }
}

.radio-select-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3px;

  label {
    @include label-styles;

  }
  
  input[type="radio"] {
    display:none;  
  } 

  .radio-option {
    display: inline-block;

    input[type="radio"]:checked ~ label {
      background-color: white;
      color: black;
      box-shadow:1px 1px 4px 2px rgba(200,200,200, 0.5);
    }
  }
  /* for quality radio-options, displays quality colors */
  .radio-option-quality {
    display: inline-block;
    

    input[type="radio"]:checked + label {
      opacity: 1;
      box-shadow:1px 1px 4px 2px rgba(200,200,200, 0.8);
      color: black;
      border-radius: 5px;
      border: 1px solid rgb(200,200,200);
    }

    input[type="radio"] + label {
        opacity: 0.8;
        color: black;
    }
  }
}

/* item preview box */
.item-box-div {
  display: flex;
  justify-content: center;
}

/* Trade register form */
.item-selection {
  display: flex;
  justify-content: space-between;
  
}

.items-sold-selection, .items-recieved-selection {
  margin-top:4px;
  display: flex;
  width: 45%;
  justify-content: center;

  div, div * {
    width: 100%;
  }

  select {
    width: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 16px;
    color: white;
    background-color: black;
    max-height:200px;
  }
}


#trade-register-error {

  text-align: center;
  color: black;
  max-width: 1400px;
  margin: -10px auto 10px auto;

}

.trade-register-div {
  text-align: center;
  max-width: 500px;
  margin: auto;
  background-color: $highlight-background;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.trade-input-field {
  display: flex;
  align-items: center;
  width: 60%;
  margin: auto;

  label, input {
    padding: 2px;
    margin: 2px;
  }
  label {
    text-align: left;
    width:40%;
  }

  input {
    width:60%;
    margin-left: auto;
    box-sizing: border-box;
    border: 2px solid #1b2838;
    border-radius: 8px;
    font-size: 15px;
    text-align: center; 
    color: white;
    background-color: black;
  }
}

.textarea-notes {
  padding:8px;
  box-sizing: border-box;
  border: 2px solid #1b2838;
  border-radius: 8px;
  color: white;
  background-color: black;
  height:130px;
  margin-bottom: 5px;
  width: 480px;
}

/* Remove arrows from number input number */
input[type="number"] {
  -webkit-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}



/* inventory */
.inventory-display-container {
  background-color: $dark-background;
  padding: 20px;
  display: grid;
  justify-content: center;
  text-align: center;

  .item-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: $highlight-background;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    padding: 8px;
    max-width: 1420px;
  }
}

/* item container */
.item-box {
  background-color: #3c352e;
  display: flex;
  flex-direction: column;
  justify-content: end; // Center the text vertically
  align-items: center;
  margin: 3px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  width: 120px;
  height: 130px;
  overflow: hidden;
  position: relative;


  .item-box-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // Make the image cover its container
    }

    .item-image {
      position: relative;
    }
    .particle-image {
      position: absolute;
    }
  }

  span {
    font-family: map-get($tf2-font, family);
    font-size: 10px;
    position: relative; // Position the text relative to the box
    z-index: 1; // Make the text appear above the image
    margin: 0 2px 1px 2px;
  }
  .pure-amount {
    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 5px #000;
  }
}

/* trade display */

.trade-display-container {
  background-color: #1b2838;
  padding-top: 20px;
  display: grid;
  justify-content: center;
}

.trade {
  background-color: $highlight-background;
  display: block;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 7px;
  padding: 7px;
  width: 1420px;
  text-align: center;
  position: relative;

  .transaction-titles {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    
    h6, h5 {
      font-family: map-get($tf2-font, family);
      color: map-get($tf2-font, color);
      display: flex;
      width: 45%;
      justify-content: center;
    }
  }

  .transaction-profit {
    padding: 7px 9px 0 9px;
    
    font-family: map-get($tf2-font, family);
    color: map-get($tf2-font, color);
    background-color: green;
    display: inline-block;
    margin: 4px auto;
    border-radius: 5px;
  }

  
  .trade-items-container {
    display: flex;
    padding-bottom: 2px;
    justify-content: space-between;
    padding:10px, 0, 10px;
    width: 100%;
    color:grey;
    

    .trade-icon {
      left: 50%;
      top: 50%;
      font-size: 80px;
    }
    .items-sold, .items-recieved {
      display: flex;
      flex-wrap: wrap;
      width: 45%;
      justify-content: center;
      min-height: 136px;
    }
  }
  
  hr {
    border-color: white;
    margin: 0 10px 2px 10px;

  }

  .trade-date {
    font-family: map-get($tf2-font, family);
    color: grey;
    font-size: 11px;
    position: absolute;
    margin: 5px;
    top: 0; /* adjust as needed */
    right: 0; /* adjust as needed */

  }
}

/* trade history */

.checkbox-label {
  font-family: map-get($tf2-font, family);
  color: map-get($tf2-font, color);
  user-select: none;
  cursor: pointer;
}

#show-source-trades-checkbox {
  position: relative;
  width:20px;
  height: 20px;
  background-color: blue;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  margin: 2px 5px 0 0;
}

.sold-color {
  background-color: #571100;
}

/* Paginator */

nav[aria-label="Page navigation all trades"] {
  
  .page-link, .page-item {
    background-color: darken($highlight-background, 0%);
    color: #fff;
    border-color: #666;
  }
  .page-link:hover {
    background-color: darken($highlight-background, 10%);
  }
  .disabled .page-link{
    background-color: lighten($highlight-background, 4%) !important;
    color: grey;
    border-color: #666;
  }
}

